body {
    background: #efefef;
}

ul {
    list-style: none;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 20px auto;
}

.weather-app {
    border: 1px solid;
    border-radius: 18px;
   padding: 20px;
}

